<footer class="bg-dark movil-footer">
    <div class="container">
        <div class="row">
            <div class="col mt-1">
                <a href="https://www.instagram.com/andreseportillov/" target="_blank">
                    <i class="fab fa-instagram fa-2x movil"></i>
                </a>
            </div>
            <div class="col mt-1">
                <a href="https://www.facebook.com/andres.valecillo/" target="_blank">
                    <i class="fab fa-facebook fa-2x movil"></i>
                </a>
            </div>
            <div class="col mt-1">
                <a href="https://www.linkedin.com/in/andres-portillo-8511a6165/" target="_blank">
                    <i class="fab fa-linkedin-in fa-2x movil"></i>
                </a>
            </div>
            <div class="col mt-1">
                <p class="movil-text">Designed with <i class="far fa-heart "> </i> in Venezuela </p>
            </div>
            <div class="col mt-1">
                <p class="movil-text">&copy; 2021 by Andres Portillo</p>
            </div>
        </div>
    </div>
</footer>